#
# REACT_APP_*
#

# 
# Choose one from:
# * development
# * production
# 
REACT_APP_ENV=

REACT_APP_HTTP_ENDPOINT="http://localhost:8888"

REACT_APP_PRIVATE_KEY_ACTIVE_USER="Private Key Active User"

# Ping
REACT_APP_PING_CONTRACT_NAME="ping.ctr"
REACT_APP_PING_CONTRACT_SENDER="tester"

# ToDo
REACT_APP_TODO_CONTRACT_NAME="todo.user"
REACT_APP_TODO_CONTRACT_SENDER="tester"
